@font-face {
    font-family: Minecraft;
    src: url('assets/mcreg.otf');
}
@font-face {
	font-family: Minecraft;
	font-weight: bold;
    src: url('assets/mcB.otf');
}
@font-face {
	font-family: Minecraft;
	font-weight: bold;
	font-style: oblique;
    src: url('assets/mcBI.otf');
}
@font-face {
	font-family: Minecraft;
	font-style: oblique;
    src: url('assets/mcI.otf');
}

*{
	font-family: Minecraft;
	transition: 0.5s;
	outline: none !important;
}
body {
	perspective: 500px;
	transition: 5s;
	background: #dbe5ec;
}
button {
	cursor: pointer;
}
p, h1, b{
	/* color:#dbe5ec; */
	cursor: default;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	/* text-shadow: 2px 2px 2px rgba(0,0,0,0.3), -2px -2px 2px rgba(255,255,255,0.8); */
}
input {
	letter-spacing: 5px;
	color:#000;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.3), -2px -2px 2px rgba(255,255,255,0.8);
	padding: 5px;
	border: none;
	border-bottom: 1px solid #000000;
	background: transparent;
	width: 100%;
	box-shadow: inset -2px -2px 2px rgba(255,255,255,0.7), inset 3px 3px 2px rgba(0,0,0,0.1);
}
.content{
	border: 1px solid #8d8d8d;
	padding: 9px;
	/* background: rgba(0,0,0,0.1);
	box-shadow: inset -2px -2px 5px rgba(255,255,255,0.9), inset 3px 3px 5px rgba(0,0,0,0.2); */
}
.main-boxes{
	border-radius: 0px;
	overflow: auto none;
	display: none;
	color: #0a0a0a;
	animation: maintransition 2.5s ease-out;
	background: #dbe5ec;
	box-shadow: -2px -2px 5px rgba(255,255,255,0.9), 3px 3px 5px rgba(0,0,0,0.2);
	position: fixed;
	margin: 0;
	width: 80%;
	max-width: 596px;
	height: 70%;
	max-height: 520px;
	padding: 15px;
	top: 50%;
	left: 50%;
	transition: 5s;
	transform: translate(-50%, -50%);
}
.main-boxes.pisah{
	min-height: 70%;
	text-align: center;
	height: auto;
}
.main-boxes .content{
	height: 100%;
	box-sizing: border-box;
	padding: 10px;
	overflow-x: auto;
}
.lmao-img {
	height: auto;
	width: 100%;
}
.fa{
	font-size: 60px;
	color: #0093ff;
	text-align: center;
	margin: 012px 06px;
	transition: 0.3s;
}
.fa:hover{
	text-shadow: rgb(107, 203, 255) 0px 0px 7px, rgb(107, 203, 255) 0px 0px 37px, rgb(107, 203, 255) 0px 0px 127px;
	color:#fff
}
.border-gay{
	border-width: 3px;
	border-style: solid;
	border-image: linear-gradient(to right, #ee1236, #1379ec) 1;
}

.colorvariant {
	color : #1379ec
}

.fancybutt{
	width: 50%;
	font-size: 19px;
	height: auto;
	padding: 12px;
	color: #0093ff;
	background: transparent;
	position: absolute;
	bottom: 10%;
	margin: 0 auto;
	transition: 5s;
	left: 25%;
}

.main-boxes svg, .main-boxes svg rect{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: transparent;
    display: block;
}
.main-boxes svg rect{
    stroke: #0093ff;
    stroke-width: 4;
    stroke-dasharray: 25;
    animation: bordanim 10s linear infinite;
    transition: 1s;
}
.main-boxes:hover svg rect{
	stroke-dashoffset: 0;
}
.main-boxes.dark-joke{
	background: rgb(22, 28, 48);
    box-shadow: rgb(107, 203, 255) 0px 0px 7px 1px, rgb(107, 203, 255) 0px 0px 37px 5px, rgb(107, 203, 255) 0px 0px 127px 1px;
}
#loadbar {
	width: 100%;
	height: 20px;
	border: 2px solid #c1c1c1;
	background: #dadada;
	border-radius: 0px;
	box-shadow: inset -2px -2px 2px rgba(255,255,255,0.7), inset 3px 3px 2px rgba(0,0,0,0.1);
}
#loadprogress{
	float: left;
	width: 0%;
	height: 100%;
	margin: auto;
	background: #aafd9a;
	box-shadow: inset -2px -2px 2px rgba(255,255,255,0.7), inset 3px 3px 2px rgba(0,0,0,0.1);
}
.i-a{max-width: 100%;max-height: 500px}
.bg-a{animation: anibg 1s infinite;}
.cred {
	color:#0093ff;
	animation:raingay 5s infinite;
	width: 60%;
	bottom: -20px;
	position:absolute;
	min-height: 100px;
	left:50%;
	background:rgb(22,28,48);
	transform: translatex(-50%);
}
.cred button{
    display:block;
    width:100%;
    border:none;
    background:#0093ff;
    padding:6px;
	margin:0 0 10px;
	transition: 0.5s;
}
.cred button:hover{
    box-shadow: rgb(107, 203, 255) 0px 0px 7px 1px, rgb(107, 203, 255) 0px 0px 37px 5px, rgb(107, 203, 255) 0px 0px 127px 1px;
}
.err-msg {
	cursor: default;
	border-radius: 0px;
	background: #dbe5ec;
	box-shadow: -2px -2px 5px rgba(255,255,255,0.9), 3px 3px 5px rgba(0,0,0,0.2);
	position: fixed;
	margin: 0;
	width: calc(40% - 50px);
	height: auto;
	padding: 15px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: popup 1.5s;
}
.err-msg button{
	margin-top: 20px;
	margin-right: 10px;
	padding: 10px;
	float: right;
	border: none;
	border-radius: 0px;
	background: #98fdac;
	color: #5454ad;
	transition: 0.4s;
	box-shadow: -2px -2px 5px rgba(180,255,201,1), 3px 3px 5px rgba(0,37,0,0.1);
}
.err-msg button:focus{
	border: none;
	color: #8989bd;
	background: #efa9a9;
	box-shadow: inset -2px -2px 5px rgba(255,198,198,0.9), inset 3px 3px 5px rgba(0,0,0,0.2);
}
.credit-rainbow li{transition: 5s;}

.credit-rainbow li.special, .credit-rainbow li:hover{
	transition: 0.3s;
	animation: raingay 1s infinite linear;
}
@keyframes popup {
	0% {opacity: 0;transform: translate(-50%,-50%) rotateY(90deg);}
}
@keyframes popup-btn {
	0% {opacity: 0;transform: translateY(-10%);}
}
@keyframes red-gradient {
	0% {background: #ff0000}
}
@keyframes bordanim{
	0%{stroke-dashoffset:800;}100%{stroke-dashoffset:0;}
}
@keyframes maintransition {
	0%{box-shadow: none;background: transparent;transform: translate(-50%, -50%) scale(0.5) rotateY(90deg);opacity: 0;}
	90%{transform: translate(-50%,-50%);opacity: 1;}
}
@keyframes insettransition {
	0%,70%{box-shadow: none;background: transparent;color: transparent;text-shadow: none; border:none;}
	80%{text-shadow:none;box-shadow: inset -2px -2px 5px rgba(255,255,255,0.9), inset 3px 3px 5px rgba(0,0,0,0.2);color:transparent;border:none;}
	85%{text-shadow: 1px 1px 3px #000;border:none;}
	90%{color: #000;}
}
@keyframes introwhite {
	0%{opacity: 0;}

}
@keyframes raingay{
	25%{color:#eb202a}
	50%{color:#ebdf36}
	75%{color:#36eb4e}
}
@keyframes anibg {
    0%{background-position:99% 0%}
    50%{background-position: 0% 100%;}
    100%{background-position:99% 0%}
}

.main-boxes .content::-webkit-scrollbar{
	width: 10px;
	border-left: 1px solid #000;
	box-shadow: -3px 0 5px rgba(255,255,255,0.8);
}
.main-boxes .content::-webkit-scrollbar-track{
	background: transparent;
}
.main-boxes .content::-webkit-scrollbar-thumb{
	background:transparent;
	border: 1px solid #7a7a7a;
	box-shadow: -1px -1px 4px rgba(255,255,255,0.9), 2px 2px 5px rgba(0,0,0,0.1);
}